body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3em;
}

.word {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.guessbox {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.lettersguessed {
  display: flex;
  justify-content: center;

}
